{erl_opts, [debug_info]}.

{deps, [{cecho, {git, "https://github.com/mazenharake/cecho", {branch, master}}}]}.

%% This project depends on `cecho.so`, `escriptize` do not work yet.
{escript_incl_apps, [eddy]}.
{escript_main_app, eddy}.
{escript_name, eddy}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

{shell, [{apps, [eddy]}]}.

%% Profiles
{profiles, [{test, [{erl_opts, [debug_info]}]}]}.

